/* место для вашего кода */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1340px;
}

/* шапка сайта */
.header {
  margin-top: 92px;
  height: 109px;
}

/* навигация */
.nav {
 
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: auto;
  align-items: center;
  
}

/* Меню */
.menu {
  list-style-type: circle;
  list-style-position: inside;
  display: flex;
  width: 450px;
  height: 23px;
  padding-left: 0;
  justify-content: space-between;

  
}

.menu a {
  color: black;
}

.menu_li_1,
.menu_li_1 a {
  list-style-type: none;
  text-decoration: none;
}

/* логотип */
.logo {
  width: 148px;
  height: 105px;
}

/* контакты */
.info {
  width: 240px;
  height: 97px;
  line-height: 24.3px;
  opacity: 0.3;
}

.info_text {
  line-height: 1.5;
}

/* блок "Оно тебе надо" */
.img {
  height: 757px;
  width: 100%;
  position: absolute;
  z-index: -2;
}

.section {
  margin-top: 92px;
  height: 757px;
  width: 100%;
  position: relative;
}

/* заголовок */
.ONO {
  font-size: 100px;
  width: 100%;
  color: white;
  padding-top: 165px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  letter-spacing: 30px;
}

.ONO p {
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 0;
  height: 115px;
  word-spacing: 6px;
}

.ONO_2 {
  display: flex;
  justify-content: center;
}

.ONO_3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

/* нижний текст */
.auction {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-top: 138px;
  margin-right: 50px;
  font-size: 22px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.auction_text {
  margin-right: 78px;
  text-transform: uppercase;
  width: 633px;
  word-spacing: 6px;
}

/* кнопка */
.auction_button {
  width: 257px;
  height: 52px;
  background-color: transparent;
  color:  #ffffff;
  border: 1px solid #fff;
  font-size: 22px;
}

/* Блок Лоты */
section {
  margin-top: 183px;
  width: 1340px;
}

.section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.section_header {
  display: flex;
  margin-top: 27px;
}

.section_header_title {
  width: 430px;
  height: 450px;
  margin-left: 25px;
  position: relative;
  color: #fff;
}

.title_1 {
  margin-left: 0 !important;
  width: 430px;
  height: 450px;
}

.section_header_title img {
  height: 100%;
  position: relative;
  z-index: -2;
}

.section_header_title div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  padding-left: 40px;
  font-size: 40px;
}

.section_header_inner {
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  top: 0;
  width: 350px;
  height: 52px;
  padding-top: 50px;
}

.section_header_text {
  bottom: 50px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.section_header_inner,
.section_header_text {
  position: absolute;
  left: 40px;
  right: 40px;
  text-align: left;
  z-index: 1;
}

h3,
a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
  
}

.section_header_inner_text {
  margin-top: 30px !important;
  margin-left: 40px !important;
}

/* Блок аукциона */
.section_auction {
  height: 487px;
  display: flex;
  justify-content: space-between;
}

.section_auction_logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 180px;
  margin-left: 95px;
}

.section_auction_logo_img {
  padding: 63px 46px;
  width: 148px;
  height: 114px;
}

.section_auction_title {
  width: 885px;
  height: 385px;
  padding-top: 100px;
}

.section_auction_inner {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.section_auction_text {
  font-size: 20px;
  margin-bottom: 0;
}

.text_1 {
  padding-top: 100px;
}

.text_2 {
  margin-top: 25px;
}

/* footer */
.footer {
  height: 187px;
  margin-top: 180px;
}

.footer_inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info_1,
.info_1 a {
  color: #000;
  font-size: 18px;
  opacity: 1;
}

.info_1 p {
  margin-top: 0;
  margin-bottom: 0;
}

.footer_menu {
  list-style-type: none;
  text-align: center;
}

.footer_menu a {
  font-size: 18px ;
}

.footer_icon {
  width: 240px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.footer_icon img,
.footer_icon a {
  height: 48px;
}
